/* Please try to keep the css in chronological order as the HTML*/


/*Not Final colors, just put it here so im not flashbanged while editing*/
body {
    background-color: rgb(33,33,33);
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Add this line to remove scrolling */
}
header {

    /*Text, Font, Color*/
    color: beige;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;

    /*Web Page*/
    width: 100%;
    height: 70px;
    background-color: rgb(23,23,23) ;

    /*NavBar Positioning and Formatting (Please don't touch I barely know how to use this stuff)*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;
}

header h1 {
    font-size: 40px;
    margin-left: 20px;
}

a, button {
    text-decoration: none;
    color: beige;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-content {
    text-align: center;
    
}

.main-content a {
    display: block;
    margin-bottom: 10px; 
}

h1 {
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    position: fixed;
    bottom: 20px; 
    right: 30px;
}

.AboutUs-Footer{
    background-color: rgb(23,23,23);
    width: 100%;
    height: 40px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;

    z-index: 999;
}

#placeholder {
    position:relative;
    right:600px;
    border: 10px solid beige;
}

.left-box{
    background-color: beige;

    width: 33%;
    height: 100%;

    position: fixed;
    left: 0;
    top: 0;

    margin: 70px 0px 40px 0px;

    
}

.right-box{
    background-color: brown;

    width: 67%;
    height: 100%;

    position: fixed;
    top: 0;
    right: 0;

    margin: 70px 0px 40px 0px;
    
}

#box-text {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 400px; /* Adjust the height as needed */
    border: 1px solid #000;

    padding: 60px;
}