body {
    background-color: rgb(88, 88, 88);
    display: flex;
    align-items: center; 
    justify-content: center;
}

html {
    height: 0;
    scrollbar-width: none;
    overflow-x: hidden;
    
}


/* START OF NAVBAR CSS */

header {
    color: beige;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    width: 100%;
    height: 70px; /* Default NavBar Height */
    background-color: rgb(23,23,23);

    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000; 
    transition: height 0.3s ease; 
}

#toggle-button {
    background: none;
    border: none;
    color: beige;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    left: 10px;
    z-index: 1001; 
}

nav {
    width: 100%;
    display: flex;
    justify-content: center; 
    transition: opacity 0.3s ease, visibility 0.3s ease; 
    z-index: 999; 
}

.collapsed {
    height: 43px; /* Collapsed Height */
    overflow: hidden; 
}

.collapsed nav {
    opacity: 0; 
    visibility: hidden; 
    pointer-events: none; /* Disable NavBar elements */
}



a, button {
    text-decoration: none;
    color: beige;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
}



/* END OF NAVBAR CSS */

nav h2 {
    font-size: 20px;
    
    padding: 15px;
    padding-top: 25px;
    position: absolute;
    left: 60px;

}

/* START OF OPTIONS CSS */

#options-bar {
    padding: 10px;
    width: 100%;
    height: 35px;
    background-color: beige;
    position: fixed; 
    top: 70px;  
    left: 0px;
    transition: top 0.3s ease;  
    z-index: 9999;
}

div#options-bar button {
    width: 25px;;  
    height: 25px;  
    background-color: brown; 
    border: 1px solid darkgray;  
    margin: 5px 0;  
    padding: 0; 
    box-sizing: border-box; 
    display: inline-block;  
    font-size: 14px; 
}

#options-bar button:active {
    background-color: purple;
}

#options-bar button.active {
    background-color: indigo;
    color: beige;
}

#options-bar select {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: white;
    border: 1px solid gray;
    color: black;
    cursor: pointer;
}

.input-wrapper {
    display: inline-block; 
    margin: 5px; 
    vertical-align: middle; 
    width: auto; 
}



/* END OF OPTIONS CSS*/

/* Preset Font Sizing **Not Translated to px */
h3 {
    font-size: 1em;
}

h4 {
    font-size: 2.2em;
}

h5 {
    font-size: 1.3em;
}






/* Document CSS */
.page {
    width: 8.5in; 
    padding: 0.5in; 
    margin: auto; 
    margin-top: 150px; 
    margin-bottom: 20px;
    background: white; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.container {
    width: 100%;
    min-height: 11in; 
    overflow-y: auto; 
}

.container:focus {
    outline: none; 
}

@media print {
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: none;
        transform: none;
    }
    #document {
        margin-top: 0px;
        background: #FFF;
    }

    * {
        margin: 0;
        padding: 0;
        background: lightcoral;
    }

    .page {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

button#saveBtn {
    position: fixed; /* Fix position relative to the viewport */
    top: 0px;       /* Align bottom edge to the bottom of the viewport */
    right: 0px;        /* Align right edge to the right of the viewport */
    background-color: #f3f3f3; /* light grey background */
    border: 1px solid #d3d3d3; /* grey border */
    padding: 2px 6px; /* typical padding */
    font-family: sans-serif; /* default font for buttons */
    font-size: medium; /* default font size */
    cursor: pointer; /* pointer cursor on hover */
    outline: none; /* no outline on focus */
    color: black; /* text color */
}

button#uploadBtn {
    position: fixed; /* Fix position relative to the viewport */
    top: 24px;       /* Align bottom edge to the bottom of the viewport */
    right: 0px;        /* Align right edge to the right of the viewport */
    background-color: #f3f3f3; /* light grey background */
    border: 1px solid #d3d3d3; /* grey border */
    padding: 2px 10px; /* typical padding */
    font-family: sans-serif; /* default font for buttons */
    font-size: medium; /* default font size */
    cursor: pointer; /* pointer cursor on hover */
    outline: none; /* no outline on focus */
    color: black; /* text color */
}




.custom-hyperlink {
    text-decoration: underline;
    color: blue; /* Choose a color that differentiates from the button */
    font-weight: normal;
    font-family: initial;
    font-size: initial;
    background: none;
    border: none;
    cursor: pointer;
    z-index: initial;
}